@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;700;800&family=Barlow+Condensed:ital,wght@1,400;1,500&display=swap');
* {
    margin: 0;
    padding: 0;
}
body {
    background: #EFEFEF;
    font-family: 'Avenir LT Std', sans-serif;
                                                
}


.absolute {
    position: absolute;
    top: -2rem;
    left: 0;
    right: 0;
    z-index: 10;
}

.login {
    /* display: none; */

}

.register {
    /* display: none; */

}
ul {
    
    list-style-type: none;
}
.dropDown {
    position: absolute;
    width: 300px;
    top: 50px;
    right: 56px;
    /* display: none; */
}